@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Inconsolata:wght@800&family=Inter:wght@200;300;400;500;700;800&family=Montserrat:wght@700&family=Poppins&family=Roboto:wght@700&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #181824;
  transition: 0.5s;
}
body.white {
  background-color: white;
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.topImage {
  width: 100%;
  height: 15rem;
  background-image: url(./images/bg-desktop-dark.jpg);
  background-size: cover;
  transition: 0.5s;
}
.topImage.dark {
  background-image: url("./images/bg-desktop-light.jpg");
}
.mainCont {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  row-gap: 1rem;
}
.middle {
  width: 32rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: #25273c;
  color: #b0b2c9;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  column-gap: 1rem;
  margin-bottom: 2rem;
}
.top {
  width: 32rem;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
.logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: white;
  padding: 0;
  margin: 0;
}
.mode {
  height: 2rem;
  width: 2rem;
  transition: 1s;
  cursor: pointer;
}
.mode.dim {
  content: url("./images/icon-moon.svg");
}
.tick {
  width: 1.2rem;
  height: 1.2rem;
  transition: 0.5s;
  border-radius: 50%;
  border: 0.1rem solid #a674f122;
  cursor: pointer;
}

.check {
  transition: 0.5s;
  color: transparent;
}
.check:hover {
  border: 0.1rem solid #a674f1;
}
.addToDO {
  height: 3rem;
  min-width: 5rem;
  background-color: transparent;
  border: none;
  outline: none;
  caret-color: #4b90db;
  font-family: "Inter";
  color: #b0b2c9;
  font-style: normal;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}
.addToDO::placeholder {
  margin-left: 00.5rem;
  font-size: 1.5rem;
  display: flex;
  align-self: center;
}
.bottom {
  width: 32.5rem;
  border-radius: 0.5rem;
  background-color: #25273c;
  padding: 0;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}
.in {
  display: flex;
  align-items: center;
  padding: 0;
  font-family: "Inter";
  color: #b0b2c9;
  font-style: normal;
  font-size: 1.2rem;
  column-gap: 1rem;
}
.todo {
  margin: 0;
}
.close {
  width: 100%;
  display: flex;
  justify-self: flex-end;
}
.mainClose {
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}
.mainClose:hover {
  opacity: 1;
}
.out {
  margin: 0;
  padding: 0;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: #b0b2c9 solid 0.005rem;
  justify-content: space-between;
  align-items: center;
}

.closed {
  display: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 1rem;
}
.lowB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Inter";
  color: #b0b2c9;
  font-style: normal;
  font-size: 0.8rem;
}
.last {
  width: 32rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  font-family: "Inter";
  color: #b0b2c9;
  font-style: normal;
  font-size: 0.8rem;
  margin-top: 0;
}
.low,
li {
  cursor: pointer;
  transition: 0.5s;
}
.low.lows {
  color: #4b90db;
}
li.lis {
  color: #4b90db;
}
.low:hover {
  color: white;
}
li:hover {
  color: white;
}
.ticked {
  margin: 0;
  padding: 0;
  font-size: 0.2;
}
.check.checked {
  background: linear-gradient(317.76deg, #a674f1 14.45%, #4b90db 66.86%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
}
.ticked.✅ {
  display: contents;
}
.topB {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
